@import './../../Assets/Colors.scss';

.snake-container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .grid {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $light-gray;
    border-radius: 10px;
    .grid-message {
        width: 100%;
        text-align: center;
    }
  }
  
  .gridItem {
    width: 20px;
    height: 20px;
  }
  
  .is-food {
    background-color: red;
    border-radius: 10px;
  }
  
  .is-head {
    background-color: black;
  }
  
  .is-tail {
    background-color: gray;
  }
  
  