button {
    background: #0071e3;
    border: none;
    color: #fff;
    outline: none;
    padding: 4px 11px;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover {
    background: #0077ED;;
}